@{
    ViewData["Title"] = "Pipelines";
}
<h2>@ViewData["Title"]</h2>
<div id="error" style="color: red;"></div>
<div id="loader" class="loader" style="display:none;"></div>

<h3>Create New</h3>
<form action="javascript:void(0);" method="POST" onsubmit="addPipeline()">
    <label for="pipelineName">Name</label>
    <input type="text" id="pipelineName" />
    <input type="submit" id="pipelineCreate" value="Create" />
</form>

<h3>List</h3>
<div id="pipelines"></div>

<h3>Runs in last 7 days</h3>
<div id="pipelineRuns"></div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        getPipelines();
        getPipelineRuns();
    });

    function getPipelines() {
        $("#loader").show();

        $.ajax({
            type: "GET",
            accepts: "application/json",
            url: "/api/pipeline",
            contentType: "application/json",
            error: function (jqXHR, textStatus, errorThrown) {
                $("#error").html(jqXHR.responseText);
            },
            success: function (result) {
                let table = "<table>";

                $.each(result, function (key, item) {
                    table += "<tr>";
                    table += "<td width='40%'>" + item + "</td>";
                    table += "<td width='20%'><button id='button" + item + "' type='button' onclick=\"runPipeline('" + item + "')\">Run</button></td>";
                    table += "<td width='40%'><div id='loader" + item + "' class='loader' style='display: none;'></div></td>";
                    table += "</tr>";
                });

                table += "</table>";
                $("#pipelines").html(table);
            },
            complete: function () {
                $("#loader").hide();
            }
        });
    }

    function getPipelineRuns() {
        $("#loader").show();

        $.ajax({
            type: "GET",
            accepts: "application/json",
            url: "/api/pipeline/runs/7",
            contentType: "application/json",
            error: function (jqXHR, textStatus, errorThrown) {
                $("#error").html(jqXHR.responseText);
            },
            success: function (result) {
                let table = "<table>";

                $.each(result, function (key, item) {
                    table += "<tr>";
                    table += "<td style='padding: 16px'>" + item.pipelineName + "</td>";
                    table += "<td style='padding: 16px'>" + item.runStart + "</td>";
                    table += "<td style='padding: 16px'>" + item.runEnd + "</td>";
                    table += "<td style='padding: 16px'>" + item.status + "</td>";
                    table += "</tr>";
                });

                table += "</table>";
                $("#pipelineRuns").html(table);
            },
            complete: function () {
                $("#loader").hide();
            }
        });
    }

    function addPipeline() {
        $("#error").html("");
        $("#pipelineCreate").prop("disabled", true);
        $("#loader").show();

        $.ajax({
            type: "POST",
            accepts: "application/json",
            url: "/api/pipeline/" + $("#pipelineName").val(),
            contentType: "application/json",
            error: function (jqXHR, textStatus, errorThrown) {
                $("#error").html(jqXHR.responseText);
            },
            success: function (result) {
                getPipelines();
                $("#pipelineName").val("");
            },
            complete: function () {
                $("#pipelineCreate").prop("disabled", false);
                $("#loader").hide();
            }
        });
    }

    function runPipeline(pipelineName) {
        $("#error").html("");

        const button = $("#button" + pipelineName);
        const loader = $("#loader" + pipelineName);

        button.prop("disabled", true);
        loader.show();

        $.ajax({
            type: "POST",
            accepts: "application/json",
            url: "/api/pipeline/run/" + pipelineName,
            contentType: "application/json",
            error: function (jqXHR, textStatus, errorThrown) {
                $("#error").html(jqXHR.responseText);
            },
            success: function (result) {
                getPipelineRuns();
            },
            complete: function () {
                button.prop("disabled", false);
                loader.hide();
            }
        });
    }
</script>
